:root {
  --charcoal: #0e1117;
  --ocean-blue: #61dafb;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--charcoal);
}

.code-block {
  padding: 20px;
}

.jumbotron {
  text-align: center;
  padding: 2rem 1rem;
  color: var(--white);
  margin-bottom: 20px;
}

.title {
  color: var(--ocean-blue);
  font-size: 45px;
  margin-bottom: 15px;
}

.sub-title {
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 0.01em;
}

.search-form {
  background-color: #eaeaea;
  padding: 20px;
}

.repo-card {
  width: 18rem;
  margin: 10px;
}

.repos-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .repos-container {
    flex-direction: column;
    align-items: center;
  }
}
